
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://quickutils.github.io/language-color/language-color.css");

* {
  transition: .33s ease all;
  box-sizing: border-box;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Questrial', sans-serif;
	box-sizing: border-box;
	width: 100vw;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.org-title {
	margin: 1%;
	text-align: center;
}

.org-title #org-title-image {
	font-size: 30px;
	font-weight: bold;
}

.org-title #org-title-title {
	font-size: 30px;
	font-weight: bold;
}

.circular_image {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	background-color: white;
	display:inline-block;
	vertical-align:middle;
}

.image {
	width: 150px;
	height: 150px;
	margin-bottom: 5px;
}

.circular_image img{
	width:100%;
}

.container {
	width: 95%;
	padding: 1%;
	margin: 0px auto;
}

.org-main {
	width: 90%;
	padding: 1%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 0px auto;
}

.org-main .org-main-button {
	margin: 10px;
	background: white;
	border:1px solid #ebeae8;
	padding: 15px;
	border-radius: 2%;
	width: 200px;
	text-decoration: none;
	flex: 1 1 auto;
}

.org-main .org-main-repo {
	margin: 10px;
	background: white;
	border:1px solid #ebeae8;
	padding: 15px;
	border-radius: 2%;
	width: 370px;
	height: 180px;
	text-decoration: none;
	flex: 1 1 auto;
}

.org-main .org-main-repo stat {
	margin-left:20px;
}

.org-main .org-main-repo i {
	color: #636466;
	font-size: 15px;
}

.org-main .org-main-repo a {
	text-decoration: none;
	color: #3d6cd9;
}

.org-main .org-main-repo p {
	font-size: 15px;
	color: grey;
	height:90px; 
	max-height:87px; 
	word-wrap:break-word;
	overflow: hidden;
	text-overflow: ellipsis;
}

.org-main .org-main-org {
	margin: 10px;
	background: white;
	border:1px solid #ebeae8;
	padding: 15px;
	border-radius: 2%;
	width: 370px;
	max-width: 370px;
	height: 300px;
	text-decoration: none;
	flex: 1 1 auto;
	text-align: center;
}

.org-main .org-main-org .title {
	top:35px !important;
	margin-top:35px !important;
	font-size:20px;
}

.org-main .org-main-org a {
	text-decoration: none;
}

.org-main .org-main-org a:hover {
	text-decoration: underline;
}

.org-main .org-main-org p {
	color: black;
}

.org-main .org-main-gist {
	margin: 10px;
	background: white;
	border:1px solid #ebeae8;
	padding: 15px;
	border-radius: 2%;
	width: 400px;
	max-width: 400px;
	height: 400px;
	text-decoration: none;
	flex: 1 1 auto;
	text-align: center;
}

.org-main .org-main-gist .title {
	top:35px !important;
	margin-top:35px !important;
	font-size:20px;
}

.org-main .org-main-gist i {
	margin-left: 12px;
}

.org-main .org-main-gist a {
	text-decoration: none;
}

.org-main .org-main-gist a:hover {
	text-decoration: underline;
}

.org-main .org-main-gist p {
	color: black;
	font-size: 12px;
}

.org-main .org-main-gist textarea {
	color: black;
	font-size: 12px;
	width: 100%;
	height: 307px;
	border:1px solid #ebeae8;
	border-radius: 1%;
	overflow: hidden;
	resize: none;
}

.org-main .org-main-gist textarea:hover {
	cursor: hand;
	border:1px solid #339cf2;
}

* {box-sizing: border-box}

.tablink {
	background-color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 25%;
	border:1px solid #ebeae8;
}

.tablink:hover {
	background-color: #ededed;
	border:1px solid #ebeae8;
}

.tabcontent {
	display: none;
	height: 100%;
}

.tabcontent .org-main {
	width: 100% !important;
}

#main-panel-view {
	height: 100%;
	margin-left: 11%;
	padding: 6px 8px 6px 16px;
}

.left-sidenav {
	height: 100%;
	left: 0;
	float: left;
	width: 10%;
	overflow-x: hidden;
	padding-top: 20px;
	margin-left: 1%;
}

.left-sidenav a {
	margin: 6px 8px 6px 16px;
	text-decoration: none;
	background-color: inherit;
	display: block;
	border: 0;
	font-size: 20px;
	cursor: hand;
}

.left-sidenav a:hover {
	color: black;
}

.right-sidenav {
	height: 100vh;
	left: 0;
	float: right !important;
	right: 0;
	overflow-x: hidden;
	color: inherit;
	max-width: 25%;
	text-decoration: underline;
}

.right-sidenav li {
	margin: 6px 8px 6px 16px;
	text-decoration: none;
	background-color: inherit;
	display: block;
	border: 0;
	font-size: 18px;
	cursor: hand;
	color: black !important;
}

.right-sidenav a {
	color: black !important;
}

